<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer" class="mt-5 pt-3 border-top text-center text-muted small">
    <p>&copy; 2024 ekşi sözlük clone - huseyin aydin</p>
    <div class="mb-3">
        <a href="#" class="mx-2 text-muted">iletişim</a>
        <a href="#" class="mx-2 text-muted">şeffaflık raporu</a>
        <a href="#" class="mx-2 text-muted">reklam</a>
        <a href="#" class="mx-2 text-muted">kariyer</a>
        <a href="#" class="mx-2 text-muted">kullanım koşulları</a>
    </div>
</div>
</body>
</html>
