<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="header" class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand logo" th:href="@{/}">
            <img th:src="@{/images/eksi_sozluk_logo.png}" alt="Logo" style="width:120px; height:auto; background-color:white; border-radius:10px; padding:14px 14px; display:inline-block;">
        </a>

        <div class="mx-auto w-50 position-relative">
            <div class="input-group">
                <input type="text" id="searchInput" class="form-control bg-dark text-white border-secondary" placeholder="sözlükte ara" autocomplete="off">
                <div class="input-group-append">
                    <button class="btn btn-sozluk" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div id="autocomplete-results" class="list-group position-absolute w-100" style="z-index: 1000; display: none;">
            </div>
        </div>

        <div class="ml-auto d-flex align-items-center">
            <div sec:authorize="isAuthenticated()" class="d-flex align-items-center">
                <span class="mr-3 small text-success" sec:authentication="name">Kullanıcı</span>
                <a th:href="@{/auth/logout}" class="btn btn-sm btn-outline-danger">çıkış yap</a>
            </div>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/auth/login}" class="btn btn-sm btn-sozluk mr-2">giriş yap</a>
                <a th:href="@{/auth/register}" class="btn btn-sm btn-outline-success">kayıt ol</a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>
