<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
    <div layout:fragment="content">
        <div class="entry-detail" th:if="${entry != null}">
            <!-- Entry Detail -->
            <div th:replace="~{fragments/entry-components :: entry-viewer(${entry})}"></div>
            
            <br />
            
            <!-- Comments -->
            <div th:if="${comments != null}">
                <div th:each="comment : ${comments}">
                    <div th:replace="~{fragments/entry-components :: comment-viewer(${comment})}"></div>
                </div>
            </div>
            
            <br />
            
            <!-- Create Comment Section -->
            <div th:if="${#authorization.expression('isAuthenticated()')}" class="entry-comment-add-container mt-4">
                <form th:action="@{/entry/comment}" method="post">
                    <input type="hidden" name="entryId" th:value="${entry.id}" />
                    <textarea name="content" class="entry-comment-textarea" placeholder="yorumunuzu buraya yazabilirsiniz..."></textarea>
                    <div class="entry-comment-actions text-right">
                        <button type="submit" class="btn btn-success btn-sozluk">yolla</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
