<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
    <div layout:fragment="content">
        <div class="entry-detail">
            <div th:replace="~{fragments/entry-list :: entry-list(entries=${entry})}"></div>
            
            <div class="entry-actions mt-2 border-top pt-3">
                <button class="btn btn-sm btn-outline-success">paylaş</button>
                <button class="btn btn-sm btn-outline-success">favori</button>
            </div>
        </div>
    </div>
</body>
</html>
